@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700italic,700,600,600italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

html {
  font-size: 14px;
  line-height: 1.42857143;
}

body {
  font-family: Merriweather, Times, serif;
  color: #231f20;
  background-color: #ffffff;
}

h1 {
  font-size: 27px;
}

blockquote {
  color: rgb(144,147,147);
  font-size: 90%;
  border-left: none;
  margin-left: 8.33333%;
  padding-left: 0;
  margin-bottom: 0;
}

.pull-gutter {
  margin-left: -10px;
}

.push-gutter {
  margin-right: -10px;
}

.no-gutter-pad {
  padding-left: 0;
  padding-right: 0;
}

nav, footer {
  font-family: "Open Sans", Helvetica, sans-serif;
}

footer[role=navigation] {
  font-size: 11px;
  border-top: 2px solid #e4e4e5;
  padding-top: 20px;
  padding-bottom: 30px;
}

#right-column h1, 
#right-column h2,
#right-column h3,
#right-column h4 {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.navbar-default {
  border-color: #e4e4e5;
}

.yes .navbar-default .navbar-nav a {
  color: #231f20;
}

.navbar-static-top {
  border-bottom: 2px solid #ccc;
}

.navbar-collapse {
  border-top: 2px solid #ccc;
}

.navbar-header {
  background: #fff;
}

.navbar-header .navbar-toggle,
.yes .navbar-default {
  background-color: #f3f3f3;
}

.yes .navbar-brand {
  padding-top: 6px;
}

#nav, #navmobilequick {
  text-transform: uppercase;
}

#navmobilequick {
  float: left;
}

#topbuttonsnav, #topbuttonsnavmobile {
    border-top: 2px solid #ccc;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

#navbar-bottom {
  clear: both;
}

/*  .navbar-static-top {
    border-bottom-width: 0px;
  }*/

.yes .navbar-static-top {
  margin-bottom: 0;
}

#main {
  margin-top: 0;
}

button.icon {
  -webkit-appearance: icon;
  -moz-appearance: icon;
  appearance: icon;
  border-width: 0;
  background: transparent;
}

.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-form .form-group.collapse {
  display: none;
}

.navbar-form .form-group.in {
  display: inline-block;
}

.navbar-form .form-group.collapsing {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

#searchinput.collapse.in  {
  display: inline-block;
}

#topsearchbox.mobile  {
  position: relative;
  float: right;
  margin-right: 0px;
  border: none;
}

#topsearchbox button.navbar-toggle {
  margin-top: -2px;
  margin-right: 0;
}

.navbar-form .form-group-sm .form-control {
  padding: 2px 5px;
}

.article-description {
  font-style: italic;
  color: #939598;
  font-size: 115%;
}

.article-lead-image {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.article-lead-image img {
  width: 100%;
  height: auto;
  position: relative;
}

figcaption, .caption {
  padding: 1em 0;
}

.article-lead-image .caption {
  font-size: 70%;
}

.share-bar {
  padding: 0;
  margin: 0 0 1em 0;
}

.byline {
  margin-bottom: 1.5em;
}

.byline [rel="author"] {
  display: inline-block;
  margin-right: 20px;
}

.byline time,
.byline .pubdate {
  display: inline-block;
  color: #939598;
}

#main a,
article a {
  text-decoration: underline;
  color: rgb(144,147,147);
}

aside a {
  text-decoration: none; 
}

#main a:hover,
article a:hover,
aside a:hover,
#right-column-content a:hover {
  text-decoration: none;
  color: #c03d27;; 
}

.byline .author {
  font-weight: bold;
}

#story-content {
  line-height: 1.7;
}

article #content {
  margin-bottom: 2em;
}

.issue-article-inset {
  border-top: 2px solid #e4e4e5;
  border-bottom: 2px solid #e4e4e5;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  margin-right: 6%;
  line-height: 1.3em;
  margin-top: 0.7em;
}

.issue-article-inset header {
  margin-bottom: 0.7em;
}

.issue-article-inset h4 {
  color: #c03d27;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, sans-serif; 
  font-size: 85%;
  font-weight: bold;
}

.issue-article-inset h6 {
  color: #909393;
  font-size: 100%;
  margin-top: 15px;
}

#main .issue-article-inset a {
  text-decoration: none;
}

.issue-article-inset li {
  margin-bottom: 0.6em;
}

article footer address {
  font-family: Merriweather, Times, serif;
  font-style: italic;
}

#content footer img.photo {
  float: left;
}

.paging {
  text-transform: uppercase;
}

.paging #pagination  {
  margin-bottom: 0px;
}

.paging a,
#pagination a {
  text-decoration: none !important;  
  padding: 6px 6px;
}


#pagination .prev a,
#pagination .next a {
  border: none;
}

#pagination .page.active a {
  background: transparent;
  border: none;
}

#pagination .page.active a span {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0 0.25em;
  font-weight: bold;
}

#pagination .first, 
#pagination .last {
  display: none;
}

#belowcontentportlets img {
  width: 100%;
}

.more-on-category,
.disqus {
  margin-top: 1.5em;
  padding: 1.5em 0;
  border-top: 2px solid #e4e4e5;
}

.more-on-category header h5 {
  text-transform: uppercase;
}

#right-column-content a {
  text-decoration: none;
  color: #231f20;
}

#right-column-content {
  padding-top: 24px;
}

#right-column-content > div {
  padding-left: 0;
}

.yestagline {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #c03d27;
  font-weight: bold;
  font-size: 84%;
  margin-bottom: 24px;
}

.media h4, .media h5, .media h6 {
  font-family: Merriweather, Times, serif;
}

.media a {
  font-size: 90%;
}


@media screen and (min-width: 767px) {

  body {
    padding-top: 24px;
  }

  /* TOP NAV */

  .navbar-nav {
  /* restore bootstrap margins for tablet/desktop */
    margin: 7.5px -10;
  }

  .navbar-static-top {
    border-bottom-width: 0px;
  }

  .yes .navbar-default {
    background-color: transparent;
    border-top-width: 0;
  }

  .navbar-collapse {
    border: none
  }

  .navbar-stacked li {
    float: none;
  }

  .navbar-stacked li a {
    /*line-height: 14px;*/
    padding: 0;
  }

  #navbar-top {
    border-bottom: 11px solid #000;
    height: 186px;
  }

  #navbar-top-border-inset {
    position: absolute; display: block; content: '';
    top: 175px; height: 11px;
    border-left: 17px solid rgb(193, 63, 28);;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  }

  #navbar-bottom {
    height: 62px;
    border-left: 1px solid #e4e4e5;
    border-right: 1px solid #e4e4e5;
  }

  #nav {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .yes #nav li a {
    padding-top: 8px;
    padding-bottom: 0;
  }

  #nav li:first-child a {
    padding-left: 25px;
  }

  #nav li:first-child a.narrow {
    padding-left: 15px;
  }


  #nav li + li a {
    padding: 15px 32px;
  }

  #nav li a.narrow {
    padding-left: 0px;    
    -webkit-transition: padding-left 0.35s ease;
    -o-transition: padding-left 0.35s ease;
    transition: padding-left 0.35s ease;  
}

  #nav li:last-child a {
    padding-right: 0;
  }

  .navbar-static-top .nav-tabs li {
    background-color: rgb(193, 63, 28);
    margin-right: 4px;
  }

  #topbuttonsnav {
    position: relative;
    left: 271px;
    top: 74px;
    font-size: 110%;
    border: none;
  }


  .yes .navbar-static-top .nav-tabs a,
  .yes .navbar-static-top .nav-tabs a:hover,
  .yes .navbar-static-top .nav-tabs a:active {
    color: #fff;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .yes .navbar-static-top .nav-tabs a:hover {
    text-decoration: underline;
  } 


  .navbar-form .form-group-sm .form-control {
    max-height: 22px;
  }


  #searchinput input {
    width: 150px;
  }

  #topsearchbox {
    max-height: 24px;
  }

  #topsearchbox button {
    padding-left: 0;
    margin-left: 0;
  }

  #topsearchbox {
    padding-right: 0;
    margin-right: 0;
  }

  #tertiarynav {
    margin-right: 57px;
  }

  #tertiarynav li a {
    padding: 5px 15px 5px 10px;
    text-transform: uppercase;
    font-size: 85%;
  }

  #tertiarynav li + li a:before {
    content: "|  ";
  }

  #issuenav {
    margin-top: 29px;
    padding-right: 30px;
    background: url(../img/yes/issue_arrow.png) no-repeat 61px -7px;
  }

  #issuenav small {
    font-size: 80%;
  }

  #issuenavimg {
    margin-top: 29px;
    float: right;
  }

  /* CONTENT AREA */

  #content {
    padding-top: 23px;
  }

  #content-columns {
    border-color: #e4e4e5;
    border-width: 2px 1px 0 1px;
    border-style: solid;
  }

  #center-column {
    border-right: 1px solid #e4e4e5;
  }

  #center-column-content {
    border-bottom: 0;
  }


  .byline .author {
    font-weight: normal;
  }

  .article-lead-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .article-lead-image .caption {
    font-size: 90%;
    color: #fff;
    bottom: 0;
    position: absolute;
    background-color: rgba(35, 31, 32, 0.6);
  }


  .share-bar {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    margin: 2em 0;    
  }

  .nav-tabs {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
  }

  .nav-tabs a {
    color: #555;
  }

  .nav-tabs li {
    background-color: rgb(227,225,209);
  }

  .nav-tabs li.active {
    background-color: #fff;
  }

  .tabbedportlets {
    border-bottom: 1px solid #e4e4e5;
  }

  .tab-pane {
    padding-top: 2em;
    font-size: 90%;
  }

  .tab-pane li {
    margin-bottom: 1em;
  }



@media screen and (min-width: 992px) {

  #topbuttonsnav {
    left: 189px;
    top: 124px;    
  }

}